.Boxes {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(205, 243, 255);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  max-width: 460px;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
